/* I sincerely apologize for the creation of this mess*/

html,
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: auto;
}

/*********************
	NAVIGATION
**********************/
.navbar {
	background-color: transparent !important;
}

.top-nav-collapse {
	background-color: rgba(46,56,66, 100) !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: rgba(46,56,66, 100) !important;
	}
}

/*********************
	MAIN IMAGE
**********************/
.full-bg-img {  
	background: url("../img/background.jpg") no-repeat center center fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


footer.page-footer {
	margin-top: -20px;
}


/*********************
	TEMPLATE COLORS
**********************/
.pt-color {
	background-color: #1C2331 !important;
}

.st-color {
	background-color: #4D5668 !important;
}

.et-color {
	background-color: #3F729B !important;
}

.btn-ptc {
	background-color: #1C2331 !important;
}

.btn-ptc:hover {
	background-color: #2f3a51 !important;
}

.btn-ptc:focus {
	background-color: #2f3a51 !important;
}

.btn-stc {
	background-color: #4D5668 !important;
}

.btn-stc:hover {
	background-color: #636e85 !important;
}

.btn-stc:focus {
	background-color: #636e85 !important;
}

.btn-etc {
	background-color: #3F729B !important;
}

.btn-etc:hover {
	background-color: #548cb9 !important;
}

.btn-etc:focus {
	background-color: #548cb9 !important;
}

.fb-bg {
	background-color: #3B5998;
}

.tw-bg {
	background-color: #55ACEE;
}

.gplus-bg {
	background-color: #DD4B39;
}

/*********************
	FOOTER
**********************/
footer.page-footer {
	margin-top: 0;
	background-color: #1C2331;
}

/*navbar shit */
.navbar-inverse {
	background: rgba(62, 195, 246, 0);
	border-bottom: none;
}

.navbar-inverse .navbar-toggle {
	border: 1px solid #333;
	border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		background: #2e3842;
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: rgba(200,200,200,50);
	font-weight: 300;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s; 
}

.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(255,255,255,255);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px); 
}

.navbar-inverse .navbar-nav > li > a::before {
	top: 0;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px); 
}

.navbar-inverse .navbar-nav > li > a::after {
	bottom: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px); 
}

.navbar-inverse .navbar-nav > li > a:hover::before,
.navbar-inverse .navbar-nav > li > a:focus::before,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: rgba(255,255,255,255);
}

.navbar-collapse {
	margin-top: 10px;
	margin-bottom: 10px;
}

.text_h {
	padding: 15% 0;
	font-size: 6.0em;
	font-weight: 100;
	color:white;
}

.cd-headline.type .cd-words-wrapper {
	vertical-align: top;
	overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
	/* vertical bar */
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 90%;
	width: 1px;
	background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
	-webkit-animation: cd-pulse 1s infinite;
	-moz-animation: cd-pulse 1s infinite;
	animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
	background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
	visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
	color: #2196F3;
}

.cd-headline.type b {
	visibility: hidden;
}

.cd-headline.type b.is-visible {
	visibility: visible;
}

.cd-headline.type i {
	position: absolute;
	visibility: hidden;
}
.cd-headline.type i.in {
	position: relative;
	visibility: visible;
}

@-webkit-keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}
@-moz-keyframes cd-pulse {
	0% {
		-moz-transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-moz-transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}

@keyframes cd-pulse {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		-moz-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		-o-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-50%) scale(0.9);
		-moz-transform: translateY(-50%) scale(0.9);
		-ms-transform: translateY(-50%) scale(0.9);
		-o-transform: translateY(-50%) scale(0.9);
		transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-50%) scale(0);
		-moz-transform: translateY(-50%) scale(0);
		-ms-transform: translateY(-50%) scale(0);
		-o-transform: translateY(-50%) scale(0);
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.full-bg-img {
	cursor: default;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 100%!important;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-default {
	border: 1px solid #A49480;
	color: #A49480;
	background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
	border: 1px solid #A49480;
	outline: 0;
	color: #000;
	background-color: #A49480;
}


/*Text stuf*/
.surinami {
	font-family: 'Raleway', serif;
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	display: inline-block;
	font-size: 45px;
	padding: 10px;
	/*padding-bottom: 13px;*/
	color: #000000;
}

.surinami::before,
.surinami::after {
	content: '';
	width: 100%;
	height: 3px;
	z-index: -1;
	background: #000000;
	position: absolute;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 1.5s;
	transition: transform 1.5s;
}

.surinami::before {
	right: 0;
	top: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.surinami::after {
	left: 0;
	bottom: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.surinami-hovah::before,
.surinami-hovah::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.mlist {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mlistul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.trows {
	display: flex;
}

.tcols {
	flex: 1;
	padding: 5em;
	/*padding-top: 1em;*/
	text-align: left;
}

.logo {
	display: inline;
	width: auto;
	height: 50px;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	font-family: "Lato";
}

.grid li {
	display: inline-block;
	width: 97%;
	margin: 0;
	padding: 40px;
	text-align: left;
	position: relative;
}

.double-row {
	width: 600px !important;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #fff;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #26a69a;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 150px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

.bottombar {
	background: rgb(46,56,66);
	text-align: center;
	display: block;
}

.seperate {
	display: table;
	table-layout: fixed;
}

.seperate span {
	display: table-cell;
	text-align: center;
}

.bottombar-description {
	padding: 0px;
	text-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.collapse.width {
    height: auto;
    width:0;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
    
}

.btn-circle.btn-xl {
  width: 85px;
  height: 85px;
  padding: 0px 0px;
  padding-left: 1.5px;
  font-size: 24px;
  line-height: 2.5;
  border-radius: 66px;
  top: 7.5vh;
}

#copied {
	text-align: center;
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 400px;
	height: 90px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 15px;
	padding-bottom: 0px;
	border-radius: 5px;
	display: none;
}

.notify-visible {
	display: block !important;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* for debugging that stupid scroll stuff that appears
   on the side a.k.a the bane of my existence */
/* 
* {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
}
*/

