body {
    margin: 0;
    padding: 0;
    color: #404040;
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
}

.navbar {
    display: none;
}

.section {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #404040;
    background-color: #FAFAFA;
}

#about {
    min-height: 100vh;
}

.cover-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), transparent), url(images/cover.png) no-repeat center 0 fixed;*/
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(../images/cover.png) no-repeat center 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 0;
    font-size: 6rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.cover-desc {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-left: 0;
    font-size: 2.4rem;
}

@media (min-width: 750px) and (max-height: 750px) {
    .cover-image {
        /*background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5),  transparent), url(images/cover.png) no-repeat center 0 fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
        background-position: 300px 0;
    }

}

@media (min-width: 750px) and (orientation: landscape) {
    .cover-image {
        justify-content: flex-start;
    }
    
    .cover-heading, .cover-desc {
        margin-left: 50px;
        text-align: left;
    }
}

#cover {
    /* for cover transition */
    padding-bottom: 0;
    opacity: 0;
}

.arrow-down {
    color: #707070;
    position: absolute;
    left: 47.5%;
    z-index: 999;
    cursor: pointer;
    transition: 0.5s color, 0.5s transform;
    /* for the transition */
    opacity: 0;
    bottom: 0;
}

.arrow-down:hover {
    transition: 0.5s color, 0.5s transform;
    color: #404040;
    transform: translate(0, 15%);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.heading {
    color: #606060;
    display: block;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.terminal-window {
    text-align: left;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    margin: auto;
    position: relative;
    bottom: 0;
}

.terminal-window header {
    background: linear-gradient(to bottom, rgb(238, 238, 238), rgb(210, 210, 210));
    height: 25px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-window header .button {
    width: 12.5px;
    height: 12.5px;
    margin-top: 7.5px;
    margin-right: 5px;
    padding: 0;
    display: inline-block;
    border-radius: 8px;
}

.terminal-window header .button.green {
    background: rgb(53, 204, 75);
    border: 0.5px solid rgb(34, 181, 52);
}

.terminal-window header .button.yellow {
    background: rgb(253, 192, 65);
    border: 0.5px solid rgb(239, 170, 47);
}

.terminal-window header .button.red {
    background: rgb(252, 98, 93);
    border: 0.5px solid rgb(224, 72, 69);
}

.terminal-window div.terminal {
    color: white;
    font-family: Monaco, Menlo, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    padding-bottom: 15%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 11px 35px 2px rgba(0,0,0,0.56);
}

.terminal-window div.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}

span.import {
    color: #D689D5;
}

span.string {
    color: #88AE88;
}

span.function {
    color: #63B1FC;
}

span {
    display: inline-block;
}

.footer-wrapper {
    height: 40vh;
    width: 100%;
    background-color: #EEEEEE;
}

.footer {
    background-color: #EEEEEE;
    padding: 5% 7.5% 0 7.5%;
    color: rgb(65, 65, 65);
}

.footer-left {
    margin-bottom: 6%;
}

.footer-left, .footer-right {
    text-align: center;
}

.footer-left > h1, .footer-right > h1 {
    padding: 0;
    margin: 0 0 1.5% 0;
    font-size: 1.25em;
    letter-spacing: 0.1px;
    color: #404040;
    text-decoration: underline;
    font-family: 'Avenir';
    font-weight: 500;
}

.footer-left > p, .footer-right > p {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
}

.footer-link {
    color: #404040;
    text-decoration: none;
    display: inline;
    margin-bottom: 1.5%;
    font-size: 1.25em;
}

.footer-link:after, .footer-left > p:after, .footer-right > p:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}

.footer-link:hover {
    color: #404040;
    font-weight: 500;
}

.copyright {
    display: block;
    text-align: center;
    background-color: #EEEEEE;
    padding-top: 5%;
    font-size: 1em;
}

.copyright > p {
    margin-bottom: 0;
}

.sliding-middle-out {
	display: inline-block;
	padding-bottom: 0;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: #404040;
}

.separator {
    height: 50px;
    background-color: #FAFAFA;
    padding: 0;
    margin: 0;
}

.row, .row-omega {
    padding-bottom: 0;
}

.skill-container {
    margin: 0;
    width: 100%;
}

.skill-container > .container {
    margin: 0 auto;
}

.skill-section-heading {
    color: #888888;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0;
    padding-top: 15%;
}

.even-row-skill-section-heading {
    padding-bottom: 5%;
}

.alpha.skill {
    margin-bottom: 0;
}

.skill {
    /* this is from the one column */
    padding: 2.5%;
    padding-bottom: 13.3333333333%;
    position: relative;
    height: 100%;
    text-align: center;
    margin-bottom: 10%;
    /* mobile 2 column */
    width: 45%;
    margin-right: 5%;
}

/* .skill:hover { */
/*     transition: 0.3s border; */
/*     border: 2px solid #888888; */
/* } */

.skill > h3 {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.skill > img {
    padding: 0;
    margin: 10% auto;
    width: 70%;
    height: auto;
}

/* .project-row-container { */
/*     height: 50vh; */
/*     width: 85%; */
/*     margin: 0 auto; */
/* } */

/* .project-row-container > .row { */
/*     min-height: 50vh; */
/*     height: 100%; */
/*     width: 100%; */
/* } */

/* .project-card { */
/*     filter: grayscale(0.9); */
/*     transition: filter 0.5s, transform 0.5s, box-shadow 0.5s; */
/*     margin-bottom: 10%; */
/*     height: 100%; */
/*     overflow: hidden; */
/* } */

/* .project-card:hover { */
/*     filter: grayscale(0.2); */
/*     transform: scale(1.025); */
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
/*     transition: filter 0.5s, transform 0.5s, box-shadow 0.5s; */
/* } */

/* .project-card > img { */

/* } */

#projects > .row {
    margin-left: 5%;
    margin-right: 5%;
}

#projects > .row > .six.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px;
	cursor: pointer;
    height: 100%;
}

#projects > .row > .six.columns > img {
    width: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.double-project {
    flex-flow: row wrap;
}

.project-half {
    display: flex;
    margin-bottom: 4%;
    align-items: center;
}

.project-half.omega {
    margin-bottom: 0;
}

.label {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    letter-spacing: normal;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: rgb(239, 239, 239);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}


.label > p {
    width: 75%;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 16px;
    padding-bottom: 2.5%;
    text-align: center;
    margin: 0 auto;
    height: auto;
}

.label > h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-bottom: 1.5%;
    margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Larger than tablet */
@media (min-width: 750px) {

    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar {
        display: none;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: right;
        margin-bottom: 0;
    }
    
    .navbar-image-item {
        float: left;
    }

    .navbar-link {
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #404040;
    }

    .navbar-link:hover, .navbar-link:active {
        color: #404040;
    }
    
    .navbar-image {
        line-height: 6rem;
    }

    .navbar-image-link {
        vertical-align: middle;
        height: 32px;        
    }

    .terminal-window {
        width: 50%;
    }

    #skills > h1.heading {
        padding-bottom: 0.5%;
    }
    
    .row {
        padding-bottom: 2.5%;
    }

    .skill-section-heading {
        font-size: 1.25rem;
        position: absolute;
        left: 0;
        /* margin-top: 5%; */
        border: 1px solid #C1C1C1;
        padding: 0.5%;
    }

    .even-row-skill-section-heading {
        padding-bottom: 0.5%;
    }

    .skill-container > h4 {
        text-align: left;
    }
    
    .skill-container > hr {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 1%;
        margin-bottom: 2.5%;
    }

    .skill {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .skill > img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .project-half {
        width: 49%;
        margin-bottom: 0;
        display: flex;
        align-self: flex-start;
    }

    .project-half > img {
        margin: 0 auto;
    }

    .project-half.omega {
        margin-bottom: 0;
        align-self: flex-end;
    }

    .label {
        width: 50%;
        padding: 2.5%;
        padding-bottom: 1%;
    }
    
    .footer-left {
        text-align: left;
    }

    .footer-right {
        text-align: right;
    }

    .footer-left > h1, .footer-right > h1, .footer-left > p, .footer-right > p, .footer-link {
        font-size: 1.1em;
    }

    .copyright {
        padding-top: 0;
        padding-bottom: 2%;
    }

}
