/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */
/*********************
  Mixins
**********************/
/*********************
  VARIABLES
**********************/
/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
}

/*********************
  NAVIGATION
**********************/
.navbar {
  background-color: transparent !important;
}

.top-nav-collapse {
  background-color: rgba(46,56,66, 100) !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(46,56,66, 100) !important;
  }
}

/*********************
  MAIN IMAGE
**********************/
.full-bg-img {  
    background: url("http://127.0.01/images/img/background.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


footer.page-footer {
    margin-top: -20px;
}


/*********************
  TEMPLATE COLORS
**********************/
.pt-color {
  background-color: #1C2331 !important;
}

.st-color {
  background-color: #4D5668 !important;
}

.et-color {
  background-color: #3F729B !important;
}

.btn-ptc {
  background-color: #1C2331 !important;
}

.btn-ptc:hover {
  background-color: #2f3a51 !important;
}

.btn-ptc:focus {
  background-color: #2f3a51 !important;
}

.btn-stc {
  background-color: #4D5668 !important;
}

.btn-stc:hover {
  background-color: #636e85 !important;
}

.btn-stc:focus {
  background-color: #636e85 !important;
}

.btn-etc {
  background-color: #3F729B !important;
}

.btn-etc:hover {
  background-color: #548cb9 !important;
}

.btn-etc:focus {
  background-color: #548cb9 !important;
}

.fb-bg {
  background-color: #3B5998;
}

.tw-bg {
  background-color: #55ACEE;
}

.gplus-bg {
  background-color: #DD4B39;
}

/*********************
  FOOTER
**********************/
footer.page-footer {
  margin-top: 0;
  background-color: #1C2331;
}

/*navbar shit */
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(200,200,200,50);
  font-weight: 300;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; 
}

.navbar-inverse .navbar-nav > li > a::before, .navbar-inverse .navbar-nav > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,255);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); 
}

.navbar-inverse .navbar-nav > li > a::before {
    top: 0;
   -webkit-transform: translateY(-5px);
   -moz-transform: translateY(-5px);
   transform: translateY(-5px); 
}

.navbar-inverse .navbar-nav > li > a::after {
    bottom: 0;
   -webkit-transform: translateY(5px);
   -moz-transform: translateY(5px);
   transform: translateY(5px); 
}

.navbar-inverse .navbar-nav > li > a:hover::before,
.navbar-inverse .navbar-nav > li > a:focus::before,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: rgba(255,255,255,255);
}
